<form action="#" class="form-horizontal">
  <div class="form-group">
    <label for="a" class="control-label col-lg-3">
      Subject
    </label>
    <div class="col-lg-9">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="a" class="control-label col-lg-3">
      Type
    </label>
    <div class="col-lg-9">
      <select class="form-control">
        <option value="0">Pick a one...</option>
        <option value="1">Help &amp; Support</option>
        <option value="2">Sales &amp; Pricing</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="a" class="control-label col-lg-3">
      Message
    </label>
    <div class="col-lg-9">
      <textarea name="ticket_message" id="ticket_message" cols="30" rows="10" class="form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
      <input type="submit" class="btn btn-success" value="Submit">
    </div>
  </div>
</form>